RELEASE_ID=replace-with-immutable-commit-set
POSTGRES_DB=taha_stage
POSTGRES_USER=taha_stage
POSTGRES_PASSWORD=generate-on-host
DJANGO_SECRET_KEY=generate-on-host
ALLOWED_HOSTS=staging.tahamohamadi.ir
PREVIEW_SHARE_SECRET=generate-on-host
DEFAULT_FROM_EMAIL=staging@tahamohamadi.ir
CONTACT_FORM_TO=staging@tahamohamadi.ir
OTP_EMAIL_SENDER=staging@tahamohamadi.ir
